:javascript
  $(document).ready(function(){
    $('.tracklist table tr').click(function(){
      var title  = $(this).find('.trackname').html(),
          loader = $('.loader');

      loader.show();
      $.getJSON('/query_youtube', {q: title}, function(data){
        loader.hide();
        $('.record').html('').append('<div class="resultsWpr"><h2 class="resultHeader"></h2><div class="results"></div></div>');
        $.each(data.videos, function(index, result){
          $.tmpl("<div class='result'><a href='/youtube/${unique_id}' rel='facebox' class='enable' title='${title}'><img src='${image_url}'/></a></div>", result).appendTo('.results');
        });

        $('<div class="query"><span>Youtube Search Results For: <code>'+data.query+'</code></span></div>').insertAfter('.results');
        $('<div class="pagination" id="results_pag"></div>').insertAfter('.results');
        $('<a class="prev" id="results_prev" href="#"></a><a class="next" id="results_next" href="#"></a>').insertAfter('.results');

        $('.results').carouFredSel({
          circular: false,
          infinite: false,
          auto    : false,
          prev    : {
            button: "#results_prev",
            key   : "left"
          },
          next    : {
            button: "#results_next",
            key   : "right"
          },
          pagination: '#results_pag'
        });

        $('.result').bind('mouseover mouseout', function(event) {
          if (event.type == 'mouseover') {
            $('h2.resultHeader').html($(this).find('a').attr('title'));
          } else {
            $('h2.resultHeader').html('');
          }
        });

        $('a[rel*=facebox]').one("mousedown", function() { 
          $(this).facebox();
        });
      });

    });

    $('.tracklist table tr').bind('mouseover mouseout', function(event) {
      if (event.type == 'mouseover') {
        $(this).find('.find').show();
      } else {
        $(this).find('.find').hide();
      }
    });
    
  });

#cloudcast.row
  .stream.span3
    .row
      %h3 Stream
    =@cloudcast["oembed"]
    =haml :"_tags", :layout => false, :locals => { :tags => @cloudcast['tags'] }

  .row.span8.tracklistHeader
    %h3 Tracklist
  .tracklist.span8
    %table.table.table-striped.table-condensed
      -@cloudcast["sections"].each_with_index do |section, index|
        - if section.has_key? "track"
          %tr
            %td
              %span.badge.badge-warning= index+1
            %td.track
              %span.trackname= "#{section["track"]["artist"]["name"]} &mdash; #{section["track"]["name"]}"
              %span.label.label-important.find FIND ON YOUTUBE
