:javascript
  $(document).ready(function(){
    $('.track').click(function(){
      var title  = $(this).html(),
          loader = $('.loader');

      $('#results').children('.result').remove();
      loader.show();
      $.getJSON('/query_youtube', {q: title}, function(data){
        loader.hide();
        $.each(data, function(index, result){
          $.tmpl("<div class='result'><h5>${title}</h5><a href='javascript:;' yt_id='${unique_id}' class='enable'><img src='${image_url}'/></a><div id='${unique_id}' class='video'>{{html embed}}</div></div>", result).appendTo('#results');
        });
      });
    });

    $('.enable').live('click',function(){
      var yt_id = $(this).attr('yt_id');
      $.facebox({ div: "#" + yt_id });
    });
  });
#cloudcast
  %h2=@cloudcast["name"]
  .stream
    %span Tags:
    - @cloudcast["tags"].each do |tag|
      %a{:href => tag["url"]}
        =tag["name"]

    =@cloudcast["oembed"]
  .tracklist
    %ol
      -@cloudcast["sections"].each do |section|
        - if section.has_key? "track"
          %li.track
            ="#{section["track"]["artist"]["name"]} &mdash; #{section["track"]["name"]}"

#results
  .loader
    %img{:src => '/images/loader.gif'}
