body, html {
  height: 100%;
  background-color: #29333D; }

body {
  background: #29333d url(/images/bg.jpg) repeat-x scroll center top; }

a {
  color: #ffff99; }

#page_wrapper {
  min-height: 100%;
  height: 100%; }

#main {
  width: 960px;
  margin: 0 auto;
  min-height: 100%; }
  #main .header {
    background: transparent url(/images/logo_bg.png) no-repeat scroll right top;
    float: left;
    padding: 15px 25px;
    width: 140px;
    margin: 15px 0; }
    #main .header h1 {
      font-size: 36px;
      margin: 0; }
      #main .header h1 a {
        color: white;
        text-decoration: none; }
        #main .header h1 a:hover {
          color: white; }
  #main .nav {
    float: right;
    width: 300px;
    height: 50px;
    padding: 10px 0 10px 10px;
    margin: 15px 0;
    background: transparent url(/images/nav_bg.png) no-repeat scroll 0 0; }
    #main .nav li {
      display: inline-block;
      padding: 5px 10px;
      margin-top: 13px; }
      #main .nav li:hover, #main .nav li.current {
        background: #900; }
        #main .nav li:hover a, #main .nav li.current a {
          color: white;
          background: none; }
      #main .nav li a {
        text-decoration: none;
        color: #ffff99;
        font-size: 12px;
        letter-spacing: 1px; }
  #main .window {
    position: relative;
    width: 940px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    clear: left; }
    #main .window .record {
      width: 940px;
      height: 300px;
      background: url(/images/red_record.jpg) no-repeat; }
      #main .window .record .resultsWpr {
        width: 912px;
        height: 235px;
        padding: 65px 0 0 28px;
        background-color: rgba(0, 0, 0, 0.6); }
        #main .window .record .resultsWpr h2 {
          position: absolute;
          top: 25px;
          background-color: rgba(0, 0, 0, 0.6);
          left: 10px;
          padding: 0 35px;
          color: #ffff99;
          font-weight: normal; }
        #main .window .record .resultsWpr .results .result {
          display: inline-block;
          border: 1px solid #333;
          width: 180px;
          height: 135px;
          padding: 10px;
          background-color: #f9f9f9;
          margin: 0 10px; }
          #main .window .record .resultsWpr .results .result img {
            width: 180px;
            height: 135px; }
      #main .window .record a.prev {
        background: url(/images/left.png) no-repeat transparent;
        width: 56px;
        height: 56px;
        display: block;
        position: absolute;
        top: 120px;
        left: -25px; }
      #main .window .record a.next {
        background: url(/images/right.png) no-repeat transparent;
        width: 56px;
        height: 56px;
        display: block;
        position: absolute;
        top: 120px;
        right: -25px; }
      #main .window .record .pagination {
        float: right;
        text-align: right;
        width: 250px;
        margin: 15px 30px 0 0; }
      #main .window .record .pagination a {
        background: url(/images/gray_ball.png) 0 0 no-repeat transparent;
        height: 16px;
        display: inline-block;
        border: none;
        float: none;
        padding: 0 10px; }
      #main .window .record .pagination a.selected {
        background: url(/images/red_ball.png) 0 0 no-repeat transparent;
        cursor: default; }
      #main .window .record .pagination a span {
        display: none; }
      #main .window .record .query {
        float: right;
        width: 615px;
        margin: 20px 0;
        color: white; }
        #main .window .record .query span {
          margin-left: -8px; }

.container {
  width: 720px; }

h2 {
  color: #5F0505; }

h3 {
  margin-top: 10px;
  padding: 10px;
  background: transparent url(/images/h2_long.png) no-repeat scroll left top;
  line-height: 35px;
  color: white;
  margin-left: 18px; }

#favorites {
  width: 980px; }
  #favorites .favorite {
    display: inline-block;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
    width: 470px; }
    #favorites .favorite .inner {
      margin: 10px; }
      #favorites .favorite .inner .image {
        margin: 0; }
        #favorites .favorite .inner .image .avatar {
          width: 140px;
          height: 140px; }
      #favorites .favorite .inner .meta {
        width: 290px; }
        #favorites .favorite .inner .meta .tag:hover {
          text-decoration: none; }
        #favorites .favorite .inner .meta h4 {
          display: inline-block; }
          #favorites .favorite .inner .meta h4 a {
            color: white; }
            #favorites .favorite .inner .meta h4 a.dj {
              color: #ffff99; }
        #favorites .favorite .inner .meta ul {
          color: white;
          font-size: 12px;
          list-style-type: none;
          margin: 0; }
          #favorites .favorite .inner .meta ul li {
            display: inline-block;
            padding: 0 20px;
            margin: 5px 0; }
            #favorites .favorite .inner .meta ul li.listeners {
              background: url(/images/listeners.png) no-repeat; }
            #favorites .favorite .inner .meta ul li.comments {
              background: url(/images/comments.png) no-repeat; }
            #favorites .favorite .inner .meta ul li.favorites {
              background: url(/images/heart.png) no-repeat; }
            #favorites .favorite .inner .meta ul li.length {
              background: url(/images/clock.png) no-repeat; }
            #favorites .favorite .inner .meta ul li.plays {
              background: url(/images/play.png) no-repeat; }

#cloudcast {
  height: 400px;
  margin-top: 20px;
  margin-left: 0; }
  #cloudcast .stream {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-left: 0; }
    #cloudcast .stream a:hover {
      text-decoration: none; }
  #cloudcast .tracklistHeader {
    width: 650px;
    margin-left: 0; }
  #cloudcast .tracklist {
    display: inline-block;
    height: 300px;
    width: 638px;
    overflow-y: scroll;
    vertical-align: top;
    background-color: #fff; }
    #cloudcast .tracklist table tr .find {
      display: none;
      margin-left: 5px; }
    #cloudcast .tracklist table tr:hover {
      cursor: pointer; }

#footer {
  background: transparent url(/images/footer_bg.png) no-repeat scroll center top;
  height: 200px;
  margin-top: 50px; }
